<div class="p-3 pb-md-4 mx-auto text-center">
  <h2 class="fw-normal">Cardápio</h2>
</div>

<div class="container">
  <div class="row offset-1 flex">
  <br>
  <table class="table table-striped table-dark center">
    <thead>
    <tr>
      <th scope="col" class="center"></th>
      <th scope="col" class="center" id="segunda">Segunda</th>
      <th scope="col" class="center" id="terça">Terça</th>
      <th scope="col" class="center" id="quarta">Quarta</th>
      <th scope="col" class="center" id="quinta">Quinta</th>
      <th scope="col" class="center" id="sexta">Sexta</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class='text-white'>Carboidrato</td>
      <td>{{segunda.carboidrato}}</td>
      <td>{{terca.carboidrato}}</td>
      <td>{{quarta.carboidrato}}</td>
      <td>{{quinta.carboidrato}}</td>
      <td>{{sexta.carboidrato}}</td>
    </tr>
    <tr>
      <td class='text-white'>Proteína</td>
      <td>{{segunda.proteina}}</td>
      <td>{{terca.proteina}}</td>
      <td>{{quarta.proteina}}</td>
      <td>{{quinta.proteina}}</td>
      <td>{{sexta.proteina}}</td>
    </tr>
    <tr>
      <td class='text-white'>Salada</td>
      <td>{{segunda.salada}}</td>
      <td>{{terca.salada}}</td>
      <td>{{quarta.salada}}</td>
      <td>{{quinta.salada}}</td>
      <td>{{sexta.salada}}</td>
    </tr>
    <tr>
      <td class='text-white'>Legume</td>
      <td>{{segunda.legume}}</td>
      <td>{{terca.legume}}</td>
      <td>{{quarta.legume}}</td>
      <td>{{quinta.legume}}</td>
      <td>{{sexta.legume}}</td>
    </tr>
    <tr>
      <td class='text-white'>Molho</td>
      <td>{{segunda.molho}}</td>
      <td>{{terca.molho}}</td>
      <td>{{quarta.molho}}</td>
      <td>{{quinta.molho}}</td>
      <td>{{sexta.molho}}</td>
    </tr>
    <tr>
      <td class='text-white'>Grão</td>
      <td>{{segunda.grao}}</td>
      <td>{{terca.grao}}</td>
      <td>{{quarta.grao}}</td>
      <td>{{quinta.grao}}</td>
      <td>{{sexta.grao}}</td>
    </tr>
    <tr>
      <td class='text-white'>Suco</td>
      <td>{{segunda.suco}}</td>
      <td>{{terca.suco}}</td>
      <td>{{quarta.suco}}</td>
      <td>{{quinta.suco}}</td>
      <td>{{sexta.suco}}</td>
    </tr>
    <tr>
      <td class='text-white'>Sobremesa</td>
      <td>{{segunda.sobremesa}}</td>
      <td>{{terca.sobremesa}}</td>
      <td>{{quarta.sobremesa}}</td>
      <td>{{quinta.sobremesa}}</td>
      <td>{{sexta.sobremesa}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
