<div class="text-center" id="container">
  <main>
      <h1 class="h3 mb-3 fw-normal">{{saudacao}}, {{nome}}!</h1>
  </main>
</div>
<app-weather-forecast></app-weather-forecast>
<app-widget-noticias></app-widget-noticias>
<app-widget-cardapio></app-widget-cardapio>
<div class="container row text-center">
  <h3 class="fw-normal">Links Úteis</h3>
  <div class="card col-3" style="margin-right: 20px">
    <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/reset-password">Resetar Senha</button>
    <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/logout">Logout</button>
    <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/servicos">Serviços</button>
    <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/solicitar-servico">Solicitar Novo Serviço</button>
    <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/galerias">Galerias</button>
    <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/meus-dados">Meus Dados</button>
    </div>
</div>
