<div *ngIf="isLoading">
  <div style="text-align:center">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
<div class="form-signin text-center" *ngIf="!isLoading">
  <div class="row">
    <div class="col s12 m12 xl12" style="text-align: center;">
      <h3>Trocar Senha</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 xl12" style="text-align: center;">
      <h5 class="col s12" style="text-align: center;">Preencha o campo abaixo para receber um e-mail com a sua
        nova senha.</h5>
    </div>
  </div>
  <form #changeForm="ngForm" (ngSubmit)="onSubmit(changeForm)" *ngIf="!isLoading">
    <div class="form-group">
      <div class="form-floating">
        <input autofocus class="form-control" id="email" name="email" ngModel placeholder="email" required type="email">
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input autofocus class="form-control" id="oldPassword" name="oldPassword" ngModel placeholder="senha" required type="password">
        <label for="email">Senha Atual</label>
      </div>
      <div class="form-floating">
        <input autofocus class="form-control" id="newPassword" name="newPassword" minlength="8" ngModel placeholder="nova senha" required type="password">
        <label for="email">Nova Senha</label>
       </div>
       <div class="form-floating">
        <input autofocus class="form-control" id="repeatNewPassword" minlength="8" name="repeatNewPassword" ngModel placeholder="repita a nova senha" required type="password">
        <label for="email">Repita a Nova Senha</label>
       </div>
    </div>
    <button [disabled]="!changeForm.valid" class="btn btn-primary" type="submit">Trocar Senha</button>
  </form>
</div>




