<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="danger" viewBox="0 0 16 16">
    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
  </symbol>
  <symbol id="calendar" viewBox="0 0 16 16">
    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
  </symbol>
</svg>
<div id="spinner" *ngIf="isLoading">
  <div style="text-align:center">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
<div class="text-center" id="container" *ngIf="!isLoading">
  <main class="form-signin">
    <div class="center form-signin">
      <div class="row" *ngIf="error">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#danger"/></svg>
          <div>
            <p class="red-text text-darken-4">{{error}}</p>
          </div>
        </div>
      </div>
    </div>
    <form #editCardapioForm="ngForm" (ngSubmit)="onSubmit(editCardapioForm)" *ngIf="!isLoading">
      <h3 class="h3 mb-3 fw-normal">Editar Cardápio</h3>
      <h5 class="mb-3 fw-normal">Altere os campos abaixo.</h5>
      <div class="form-group">
        <div class="form-floating">
          <input autofocus class="form-control" disabled id="name" name="name" ngModel placeholder="name" value={{cardapio.name}} required type="text">
          <label for="name">Nome</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="day" ngModel name="day" required [(ngModel)]="cardapio.day">
            <option>{{cardapio.day}}</option>
            <option>Segunda-feira</option>
            <option>Terça-feira</option>
            <option>Quarta-feira</option>
            <option>Quinta-feira</option>
            <option>Sexta-feira</option>
          </select>
          <label for="day">Dia da Semana</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="carboidrato" ngModel name="carboidrato" required [(ngModel)]="cardapio.carboidrato">
            <option>{{cardapio.carboidrato}}</option>
            <option>Arroz</option>
            <option>Arroz Integral</option>
            <option>Batata</option>
            <option>Polenta</option>
            <option>Macarrão</option>
            <option>Quirera</option>
            <option>Mandioca</option>
          </select>
          <label for="carboidrato">Carboidrato</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="proteina" ngModel name="proteina" required [(ngModel)]="cardapio.proteina">
            <option>{{cardapio.proteina}}</option>
            <option>PTS</option>
            <option>Cogumelo</option>
            <option>Seitan</option>
          </select>
          <label for="proteina">Proteína</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="salada" ngModel name="salada" required [(ngModel)]="cardapio.salada">
            <option>{{cardapio.salada}}</option>
            <option>Alface</option>
            <option>Tomate</option>
            <option>Pepino</option>
            <option>Repolho</option>
            <option>Acelga</option>
            <option>Rúcula</option>
            <option>Cebola</option>
          </select>
          <label for="salada">Salada</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="legume" ngModel name="legume" required [(ngModel)]="cardapio.legume">
            <option>{{cardapio.legume}}</option>
            <option>Cenoura</option>
            <option>Vagem</option>
            <option>Chuchu</option>
            <option>Abobrinha</option>
            <option>Berinjela</option>
          </select>
          <label for="legume">Legume</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="molho" ngModel name="molho" required [(ngModel)]="cardapio.molho">
            <option>{{cardapio.molho}}</option>
            <option>Branco</option>
            <option>Pomodoro</option>
            <option>Alfredo</option>
            <option>Quatro Queijos</option>
            <option>Funghi</option>
          </select>
          <label for="molho">Molho</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="grao" ngModel name="grao" required [(ngModel)]="cardapio.grao">
            <option>{{cardapio.grao}}</option>
            <option>Feijão</option>
            <option>Lentilha</option>
            <option>Grão de Bico</option>
          </select>
          <label for="grao">Grão</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="suco" ngModel name="suco" required [(ngModel)]="cardapio.suco">
            <option>{{cardapio.suco}}</option>
            <option>Morango</option>
            <option>Uva</option>
            <option>Laranja</option>
            <option>Acerola</option>
            <option>Maracujá</option>
            <option>Manga</option>
          </select>
          <label for="suco">Suco</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="sobremesa" ngModel name="sobremesa" required [(ngModel)]="cardapio.sobremesa">
            <option>{{cardapio.sobremesa}}</option>
            <option>Gelatina</option>
            <option>Pudim</option>
            <option>Flan</option>
            <option>Canjica</option>
            <option>Arroz Doce</option>
            <option>Domingo</option>
          </select>
          <label for="sobremesa">Sobremesa</label>
        </div>
      </div>
      <button [disabled]="!editCardapioForm.valid" class="btn btn-dark" type="submit">Editar Cardápio</button>
    </form>
  </main>
</div>
