<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="danger" viewBox="0 0 16 16">
    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
  </symbol>
  <symbol id="calendar" viewBox="0 0 16 16">
    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
  </symbol>
</svg>
<div id="spinner" *ngIf="isLoading">
  <div style="text-align:center">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
<div class="text-center" id="container" *ngIf="!isLoading">
  <main class="form-signin">
    <form #editServicoForm="ngForm" (ngSubmit)="onSubmit(editServicoForm)" *ngIf="!isLoading">
      <h3 class="h3 mb-3 fw-normal">Editar Serviço</h3>
      <h5 class="mb-3 fw-normal">Altere os campos abaixo.</h5>
      <div class="form-group">
        <div class="form-floating">
          <input disabled autofocus class="form-control" id="name" name="name" ngModel placeholder="name" required type="text" [(ngModel)]="servico.name">
          <label for="name">Nome</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="category" ngModel name="category" [(ngModel)]="servico.category">
            <option>{{servico.category}}</option>
            <option>Material</option>
          </select>
          <label for="category">Categoria</label>
        </div>
        <div class="form-group form-floating">
          <select class="form-control" id="responsible_sector" ngModel name="responsible_sector" required [(ngModel)]="servico.responsible_sector">
            <option>{{servico.responsible_sector}}</option>
            <option>Marketing</option>
            <option>Facilities</option>
            <option>TI</option>
          </select>
          <label for="responsible_sector">Setor Responsável</label>
        </div>
      </div>
      <button [disabled]="!editServicoForm.valid" class="btn btn-dark" type="submit">Editar Servico</button>
    </form>
  </main>
</div>
