<div class="p-3 pb-md-4 mx-auto text-center">
  <h2 class="fw-normal">Painel de Administração</h2>
  <p class="fs-5 text-muted">Utilize as funcionalidades abaixo para gerenciar a Extranet e o conteúdo.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Usuários</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Cadastrar novos usuários</li>
          <li>Alterar usuários existentes</li>
          <li>Inativar usuários</li>
        </ul>
        <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/admin-usuarios">Administrar Usuários</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Notícias</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Incluir novas notícias</li>
          <li>Alterar notícias existentes</li>
          <li>Inativar notícias</li>
        </ul>
        <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/admin-noticias">Administrar Notícias</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Serviços</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Visualizar e editar serviços solicitados</li>
          <li>Alterar serviços disponíveis</li>
          <li>Incluir novos serviços</li>
        </ul>
        <button type="button" class="w-60 btn btn-lg btn-outline-primary">Administrar Serviços</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Galerias e Fotos</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Cadastrar novas galerias e incluir fotos</li>
          <li>Alterar galerias</li>
          <li>Inativar galerias</li>
        </ul>
        <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/admin-galerias">Administrar Galerias e Fotos</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Cardápios</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Visualizar cardápios cadastrados</li>
          <li>Alterar cardápios disponíveis</li>
          <li>Incluir novos cardápios</li>
        </ul>
        <button type="button" class="w-60 btn btn-lg btn-outline-primary" routerLinkActive="active" routerLink="/admin-cardapios">Administrar Cardápios</button>
      </div>
    </div>
  </div>
  </div>
