<header>
    <div class="px-3 py-2 bg-dark" >
      <div class="container" style="display: flex; flex-direction: column; align-items: center">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a routerLink="home" class="nav-link" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'text-secondary' : 'text-white'">
                <i class="fas fa-home fa-3x"></i>
                Home
              </a>
            </li>
            <li>
              <a routerLink="noticias" class="nav-link" routerLinkActive #rla2="routerLinkActive" [ngClass]="rla2.isActive ? 'text-secondary' : 'text-white'">
                <i class="fas fa-newspaper fa-3x"></i>
                Notícias
              </a>
            </li>
            <li>
              <a routerLink="servicos" class="nav-link" routerLinkActive #rla3="routerLinkActive" [ngClass]="rla3.isActive ? 'text-secondary' : 'text-white'">
                <i class="fas fa-tools fa-3x"></i>
                Serviços
              </a>
            </li>
            <li>
              <a routerLink="cardapio" class="nav-link" routerLinkActive #rla4="routerLinkActive" [ngClass]="rla4.isActive ? 'text-secondary' : 'text-white'">
                <i class="fas fa-utensils fa-3x"></i>
                Cardápio
              </a>
            </li>
            <li>
              <a routerLink="galerias" class="nav-link" routerLinkActive #rla5="routerLinkActive" [ngClass]="rla5.isActive ? 'text-secondary' : 'text-white'">
                <i class="far fa-images fa-3x"></i>
                Galerias
              </a>
            </li>
            <li *ngIf="isAdmin && isAuthenticated">
              <a routerLink="admin" class="nav-link white" routerLinkActive #rla6="routerLinkActive" [ngClass]="rla6.isActive ? 'text-secondary' : 'text-white'">
                <i class="fas fa-lock fa-3x"></i>
                Admin
              </a>
            </li>
            <li class="nav-item dropdown" appDropdown *ngIf="isAuthenticated">
              <a class="nav-link text-white dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown">
                <i class="fas fa-user-circle fa-3x"></i>
                Perfil
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow">
                <li><a class="dropdown-item" routerLink="meus-dados" routerLinkActive="active"><i class="fas fa-info-circle"></i>  Meus Dados</a></li>
                <li><a class="dropdown-item" routerLink="trocar-senha" routerLinkActive="active"><i class="fas fa-key"></i>  Trocar Senha</a></li>
                <li><a class="dropdown-item" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i>  Sair</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
