table {
  width: 84%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#id, #name, #categoria, #nome, #data_de_criacao, #setor, #editar,  #ativo, .centralizado, td {
  text-align: center;
}

.flex {
  display: flex;
}

#editar {
  cursor:pointer;
}

