 <div>
  <footer class="footer mt-auto py-3 bg-dark">
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Notícias</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Serviços</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Informações</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Galeria</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 Extranet</p>
  </footer>
 </div>
