footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
}

div {
  padding-bottom: 120px;
}

li {
  cursor:pointer;
}
