 <div>
  <footer class="footer mt-auto py-3 bg-dark">
    <ul class="nav">
      <li routerLinkActive="active" routerLink="/home" class="nav-link px-2 text-muted">Home</li>
      <li routerLinkActive="active" routerLink="/noticias" class="nav-link px-2 text-muted">Notícias</li>
      <li routerLinkActive="active" routerLink="/servicos" class="nav-link px-2 text-muted">Serviços</li>
      <li routerLinkActive="active" routerLink="/cardapio" class="nav-link px-2 text-muted">Cardápio</li>
      <li routerLinkActive="active" routerLink="/galerias" class="nav-link px-2 text-muted">Galerias</li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 Extranet</p>
  </footer>
 </div>
