<div *ngIf="isLoading">
  <div style="text-align:center">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
<div class="form-signin text-center" *ngIf="!isLoading">
  <div class="row">
    <div class="col s12 m12 xl12" style="text-align: center;">
      <h3>Esqueci minha senha</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 xl12" style="text-align: center;">
      <h5 class="col s12" style="text-align: center;">Preencha o campo abaixo para receber um e-mail com a sua
        nova senha.</h5>
    </div>
  </div>
  <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)" *ngIf="!isLoading">
    <div class="form-group">
      <div class="form-floating">
        <input autofocus class="form-control" id="email" name="email" ngModel placeholder="email" required type="email">
        <label for="email">Email</label>
      </div>
    </div>
    <button [disabled]="!resetForm.valid" class="btn btn-primary" type="submit">Resetar Senha</button>
  </form>
</div>




